@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.app .TitleApp {
    font-size: 3em;
}

.app .Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}